.food {
  background: #f07aa1 !important;
  color: #fff !important;
}
.goods {
  background: #7a9af0 !important;
  color: #fff !important;
}
.transportation {
  background: #edc96d !important;
  color: #fff !important;
}
.eat-out {
  background: #64d991 !important;
  color: #fff !important;
}
.entertainment {
  background: #9a7af0 !important;
  color: #fff !important;
}