.budget-form {
  display: flex;
  align-items: center;
  height: 45px;

  &__date,
  &__price,
  &__desc,
  &__category {
    height: 100%;
  }
  &__date {
    width: 160px;
  }
  &__price {
    width: 80px;
  }
  &__desc {
    min-width: 170px;
    flex: 1;
  }
  &__category {
    width: 170px;
  }
  &__submit {
    display: none !important;
  }
}