.budget-form {
  padding: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .1);
  border-radius: 10px;
  
  &__row {
    display: flex;
    align-items: center;
    
    & + & {
      margin-top: 10px;
    }
  }
  &__date,
  &__price,
  &__desc,
  &__category,
  &__payer  {
    height: 45px;
    margin-bottom: 0;
  }
  &__date {
    width: 160px;
  }
  &__price {
    width: 80px;
  }
  &__desc {
    min-width: 170px;
    flex: 1;
  }
  &__category {
    width: 120px;
  }
  &__shared,
  &__payment {
    font-size: 14px;
  }
  &__shared {
    align-self: flex-start;
  }
  &__payment {
    width: 100px;

    label {
      margin-bottom: 0;
    }
  }
  &__submit {
    display: none !important;
  }
}