@use '../../app/colors.scss';

.price-sum {
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  margin: 0 auto 0 0;
}
.shared-only {
  display: flex;
  align-self: center;
  font-size: 14px;

  input[type="checkbox"] {
    margin-left: 4px;
  }
}

.budget-list {
  &__header {
    display: flex;
    align-items: center;
    height: 60px;
  }
  &__body {
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
    overflow: auto;
    height: 480px;
  }
  &__item {
    padding: 5px 0;
    border-bottom: 1px dotted #61dafb;
    display: flex;
  }
  &__date ,
  &__price,
  &__desc {
    display: inline-block;
  }
  &__date {
    min-width: 50px;
    font-weight: bold;
  }
  &__price {
    min-width: 90px;
    text-align: right;
    padding-left: 10px;
  }
  &__category {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8em;
    background: #f0f0f0;
    border-radius: 3px;
    width: 70px;
    color: #444;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &__desc {
    padding-left: 20px;
    margin-right: auto;
  }
  &__payment {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  &__delete {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background: rgba(#20232a, 0.5);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 3px rgba(#20232a, 0.3);
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: rgba(#20232a, 0.8);
    }
    img {
      width: 10px;
      height: 10px;
      fill: red;
    }
  }
}

.budget-category,
.budget-payment {
  &__select {
    display: inline-block;
    margin: 0 0 0 10px;
    background: #f0f0f0;
    color: #444;
    font-size: 0.8em;
  }
}
